@charset "utf-8";
*, *::before, *::after { -webkit-box-sizing: border-box; box-sizing: border-box; margin:0;padding:0;}
html { -webkit-box-sizing: border-box; box-sizing: border-box; font-size:10px; -ms-overflow-style: none;}
body { margin: 0; padding: 0; font-size: 1.6rem; line-height: 1.6; font-family: 's-core-dream','Pretendard',sans-serif; font-weight: 400; color: black; letter-spacing: -0.01em; word-break:keep-all;}
html, body {}
input, textarea {border:solid 0.1rem #d8d8d8;box-sizing:border-box;resize:none;padding:1rem;font-family:inherit;}
*, *:before, *:after {-webkit-box-sizing: inherit;-moz-box-sizing: inherit;box-sizing: inherit}
html {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;-ms-text-size-adjust:none; -webkit-text-size-adjust:none}
a {text-decoration:none;}
audio[controls], canvas, video {display:inline-block; *display:inline; *zoom:1}
audio:not([controls]) {display:none; height:0}
label, input, button, a, span {/*line-height:1.6*/}
select	{color:#333}
button {margin: 0;padding: 0;cursor: pointer;border: 0;background: none; font-size:inherit;}
caption {width: 0;height: 0;margin: 0;padding: 0;overflow: hidden;border: 0;text-indent: -999em}
hr {height:0; -moz-box-sizing:content-box; box-sizing:content-box;border:none}
a:active, a:hover, button:active, button:hover {outline:0 none;color:#2D62C5;}
a:focus {color:inherit ;text-decoration: none;outline: 0.1rem dotted invert}
:focus {outline-offset:-3px; outline:3px solid red;}
/*a:hover, a:focus, a:active {text-decoration: underline;}*/
em, address {font-style:normal}			
acronym, abbr {cursor:help}
abbr[title] {border-bottom:0.1rem dotted}
ul, ol {list-style:none; list-style-image:none}
fieldset {border:0;}
blockquote, q {quotes:none}
i {font-style:normal;}
blockquote:before, blockquote:after, q:before, q:after {content:'' ;content:none}
img {border:0; vertical-align:top; -ms-interpolation-mode:bicubic;max-width: 100%}
a, span, p, em, label, dt, dd, li, strong {color:inherit;font-size:inherit;font-weight:inherit;font-family:inherit}
strong, b {font-weight:500}
::-webkit-input-placeholder {color:#555}
:-moz-placeholder {color:#555}
::-moz-placeholder {color:#555}
:-ms-input-placeholder {color:#555}
table {border-collapse:collapse;width:100%}
th {font-weight:500; color:#333;}
td {color:#666;}
table button, table input {/*overflow:auto*/}
h1, h2, h3, h4, h5, h6 {font-weight:400}
.hidden, legend {position: absolute;width: 0.1rem;height: 0.1rem;margin: -0.1rem;padding: 0;overflow: hidden;clip: rect(0, 0, 0, 0);border: 0; display:none !important;}
.d_none {display:none;}
.clearfix:after {content: "";display: block;clear: both}
button {cursor:pointer;font-family:inherit;}
input:focus, button:focus, select:focus, textarea:focus {}
input, select, textarea {font-size:1em;vertical-align:middle; font-family:inherit;}
/*input[type="text"], input[type="submit"],input[type="password"], 
select {-webkit-appearance:none;-webkit-border-radius:0;font-family: 'Pretendard SemiBold';}*/
input[type="checkbox"] {vertical-align: 0}
input[type="radio"] {vertical-align: 0}
input[type="text"], input[type="password"] {padding: 0 1rem 0 1rem;border: 1px solid #ddd;height: 3.6rem;}
input[type="submit"], input[type="button"]  {cursor:pointer;}
input[type=number]::-webkit-outer-spin-button,input[type=number]::-webkit-inner-spin-button{-webkit-appearance:none;margin:0;}
input[type=number]{-moz-appearance:textfield;}
input[type=password]{-webkit-text-security:disc!important;}
/* input custom */
input[type="checkbox"],input[type="radio"]{position:absolute;opacity:0;z-index:-1;width:0;}
.checkbox, .radio {display:inline-block; padding-top:0.4rem; padding-left:3.2rem; margin-right:3rem; font-size:1.6rem;}
.checkbox:last-child, .radio:last-child {margin-right:0;}
label.checkbox span,label.radio span{width:2.2rem;height:2.2rem;display:inline-block; border:1px solid #575757;position:relative;cursor:pointer; margin:-0.4rem 0.5rem 0 -3.2rem;}
label.checkbox span{border-radius:0.5rem}
label.radio span{border-radius:50%}
input:checked + label.checkbox span::after{content:'';position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);width: 60%;height:60%;background:url(../images/icon/icon_check_blue.svg) no-repeat 0 0; background-size:contain;}
input:checked + label.radio span::after{content:'';position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);background-color:#4B5767; border-radius:0.2rem;width:1rem;height:1rem;border-radius:50%}
input:checked.radio span {border:1px solid #4B5767;}
input:focus + label span{outline:1px solid #005fcc;}
label span {vertical-align:middle;}
/*.checkbox + input + .checkbox , .radio  + input + .radio {margin-left:3rem;}*/
/* select custom */
.selectbox{min-width:9rem; appearance:none;-webkit-appearance:none;-moz-appearance:none;background-color:#fff;border:1px solid #ddd;padding:0.5rem 2.5rem 0.4rem 1.2rem; cursor:pointer;background-image:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10"><polygon points="0,0 10,0 5,5" fill="black"/></svg>');background-repeat:no-repeat;background-position:right 1rem center;background-size:1rem; height:3.6rem;white-space:nowrap; overflow:hidden;text-overflow:ellipsis;}
.selectbox::-ms-expand{display:none}
.selectbox2{font-size:1.4rem; min-width:7rem; appearance:none;-webkit-appearance:none;-moz-appearance:none;background-color:#fff;border:1px solid #ddd;padding:0.2rem 2rem 0.2rem 1.2rem; cursor:pointer;background-image:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10"><polygon points="0,0 10,0 5,5" fill="black"/></svg>');background-repeat:no-repeat;background-position:right 1rem center;background-size:1rem; height:2.6rem;}
.selectbox2::-ms-expand{display:none}
/*.t_hidden {overflow: hidden;position: absolute;border: 0;width: 0.1rem;height: 0.1rem;clip: rect(0.1rem, 0.1rem, 0.1rem, 0.1rem)}*/
/**셀렉트박스**/
.selectbox.large {padding:0 3.5rem 0 3rem; border-radius:1rem; font-size:2rem;  letter-spacing:-0.08rem; /*font-family:'Pretendard';font-weight:lighter; font-size:2.2rem;*/font-weight: 300;color:#666; height:6.8rem; background-size:1.5rem; background-position: right 2rem center; border:1px solid #aaa; background: url(../images/icon/icon_down.svg) no-repeat right 2rem center;}
input[type="text"].inputbox, input[type="password"] {width:100%; padding:1.6rem 1.5rem 1.5rem; font-size:1.8rem; height:auto; border-radius:0.5rem;}
::placeholder {color: #888;opacity: 1;}
select::-ms-expand {display:none}
select:focus {background-color: white; }

/* 파일선택 (디자인 미적용) */
.form-file{position:relative;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;}
.form-file .flie-box{overflow:hidden;position:absolute;left:0;top:0;}
.form-file .flie-box:focus-within{outline:1.5px solid #111;}
.form-file .flie-box input[type=file]{position:absolute;top:0;left:0;z-index:5;width:100%;height:100%;opacity:0;filter:alpha(opacity = 0);cursor:pointer;}
.form-file input[type=text]{width:100%;padding:0 1rem 0 14rem !important;background-color:#fff;border:0;}

@media (max-width: 1200px) {
	html { font-size: 9px; }
	.selectbox {font-size:1.4rem;}
}

@media (max-width:820px) {
	html { font-size: 8px; }
}

/* for IE */
@media \0screen {
	select {min-width:8rem;padding:0 0 0 1rem;background:#fff}
}

@media print {
	#header {display:none}
	footer {display:none}
	img {max-width: 100% !important}
}

@media print and (color) {
   * {-webkit-print-color-adjust: exact;print-color-adjust: exact}
}

/*::-webkit-scrollbar {
    display: none; 
}*/

/*:focus-visible {outline-style:dashed;outline-width:0.1rem;outline-color: gray;}*/
.f_right {float:right;}
.f_left {float:left;}
.t_center, .tac {text-align:center !important}
.t_right , .tar{text-align:right !important}
.t_left, .tal {text-align:left !important}


.mt-40{margin-top:-4rem !important}

.no_margin {margin:0 !important}
.mt125{margin-top:12.5rem !important}
.mt120{margin-top:12rem !important}
.mt110{margin-top:11rem !important}
.mt100{margin-top:10rem !important}
.mt95{margin-top:9.5rem !important}
.mt93{margin-top:9.3rem !important}
.mt90{margin-top:9rem !important}
.mt85{margin-top:8.5rem !important}
.mt80{margin-top:8rem !important}
.mt75{margin-top:7.5rem !important}
.mt70{margin-top:7rem !important}
.mt65{margin-top:6.5rem !important}
.mt60{margin-top:6rem !important}
.mt55{margin-top:5.5rem !important}
.mt50{margin-top:5rem !important}
.mt47{margin-top:4.7rem !important}
.mt45{margin-top:4.5rem !important}
.mt40{margin-top:4rem !important}
.mt35{margin-top:3.5rem !important}
.mt30{margin-top:3rem !important}
.mt26{margin-top:2.6rem !important}
.mt25{margin-top:2.5rem !important}
.mt20{margin-top:2rem !important}
.mt15{margin-top:1.5rem !important}
.mt13{margin-top:1.3rem !important}
.mt10{margin-top:1rem !important}
.mt5{margin-top:0.5rem !important}
.mt0{margin-top:0 !important}


.mr100{margin-right:10rem !important}
.mr95{margin-right:9.5rem !important}
.mr90{margin-right:9rem !important}
.mr85{margin-right:8.5rem !important}
.mr80{margin-right:8rem !important}
.mr75{margin-right:7.5rem !important}
.mr70{margin-right:7rem !important}
.mr65{margin-right:6.5rem !important}
.mr60{margin-right:6rem !important}
.mr55{margin-right:5.5rem !important}
.mr50{margin-right:5rem !important}
.mr45{margin-right:4.5rem !important}
.mr40{margin-right:4rem !important}
.mr35{margin-right:3.5rem !important}
.mr30{margin-right:3rem !important}
.mr25{margin-right:2.5rem !important}
.mr20{margin-right:2rem !important}
.mr15{margin-right:1.5rem !important}
.mr10{margin-right:1rem !important}
.mr5{margin-right:0.5rem !important}
.mr0{margin-right:0 !important}


.mb300{margin-bottom:30rem !important}
.mb200{margin-bottom:20rem !important}
.mb150{margin-bottom:15rem !important}
.mb110{margin-bottom:11rem !important}
.mb100{margin-bottom:10rem !important}
.mb95{margin-bottom:9.5rem !important}
.mb90{margin-bottom:9rem !important}
.mb85{margin-bottom:8.5rem !important}
.mb80{margin-bottom:8rem !important}
.mb75{margin-bottom:7.5rem !important}
.mb70{margin-bottom:7rem !important}
.mb65{margin-bottom:6.5rem !important}
.mb60{margin-bottom:6rem !important}
.mb58{margin-bottom:5.8rem !important}
.mb55{margin-bottom:5.5rem !important}
.mb50{margin-bottom:5rem !important}
.mb45{margin-bottom:4.5rem !important}
.mb43{margin-bottom:4.3rem !important}
.mb40{margin-bottom:4rem !important}
.mb35{margin-bottom:3.5rem !important}
.mb30{margin-bottom:3rem !important}
.mb29{margin-bottom:2.9rem !important}
.mb25{margin-bottom:2.5rem !important}
.mb22{margin-bottom:2.2rem !important}
.mb20{margin-bottom:2rem !important}
.mb16{margin-bottom:1.6rem !important}
.mb15{margin-bottom:1.5rem !important}
.mb13{margin-bottom:1.3rem !important}
.mb12{margin-bottom:1.2rem !important}
.mb11{margin-bottom:1.1rem !important}
.mb10{margin-bottom:1rem !important}
.mb8{margin-bottom:0.8rem !important}
.mb5{margin-bottom:0.5rem !important}
.mb3{margin-bottom:0.3rem !important}
.mb0{margin-bottom:0 !important}

.ml100{margin-left:10rem !important}
.ml95{margin-left:9.5rem !important}
.ml90{margin-left:9rem !important}
.ml85{margin-left:8.5rem !important}
.ml80{margin-left:8rem !important}
.ml75{margin-left:7.5rem !important}
.ml70{margin-left:7rem !important}
.ml65{margin-left:6.5rem !important}
.ml60{margin-left:6rem !important}
.ml55{margin-left:5.5rem !important}
.ml50{margin-left:5rem !important}
.ml45{margin-left:4.5rem !important}
.ml40{margin-left:4rem !important}
.ml35{margin-left:3.5rem !important}
.ml30{margin-left:3rem !important}
.ml25{margin-left:2.5rem !important}
.ml20{margin-left:2rem !important}
.ml15{margin-left:1.5rem !important}
.ml10{margin-left:1rem !important}
.ml5{margin-left:0.5rem !important}
.ml0{margin-left:0 !important}


.pt100{padding-top:10rem !important}
.pt95{padding-top:9.5rem !important}
.pt90{padding-top:9rem !important}
.pt85{padding-top:8.5rem !important}
.pt80{padding-top:8rem !important}
.pt75{padding-top:7.5rem !important}
.pt70{padding-top:7rem !important}
.pt65{padding-top:6.5rem !important}
.pt60{padding-top:6rem !important}
.pt55{padding-top:5.5rem !important}
.pt50{padding-top:5rem !important}
.pt45{padding-top:4.5rem !important}
.pt40{padding-top:4rem !important}
.pt35{padding-top:3.5rem !important}
.pt30{padding-top:3rem !important}
.pt25{padding-top:2.5rem !important}
.pt20{padding-top:2rem !important}
.pt15{padding-top:1.5rem !important}
.pt10{padding-top:1rem !important}
.pt5{padding-top:0.5rem !important}
.pt0{padding-top:0 !important}

.pr100{padding-right:10rem !important}
.pr95{padding-right:9.5rem !important}
.pr90{padding-right:9rem !important}
.pr85{padding-right:8.5rem !important}
.pr80{padding-right:8rem !important}
.pr75{padding-right:7.5rem !important}
.pr70{padding-right:7rem !important}
.pr65{padding-right:6.5rem !important}
.pr60{padding-right:6rem !important}
.pr55{padding-right:5.5rem !important}
.pr50{padding-right:5rem !important}
.pr45{padding-right:4.5rem !important}
.pr40{padding-right:4rem !important}
.pr35{padding-right:3.5rem !important}
.pr30{padding-right:3rem !important}
.pr25{padding-right:2.5rem !important}
.pr20{padding-right:2rem !important}
.pr18{padding-right:1.8rem !important}
.pr15{padding-right:1.5rem !important}
.pr10{padding-right:1rem !important}
.pr5{padding-right:0.5rem !important}

.pb100{padding-bottom:10rem !important}
.pb95{padding-bottom:9.5rem !important}
.pb90{padding-bottom:9rem !important}
.pb85{padding-bottom:8.5rem !important}
.pb80{padding-bottom:8rem !important}
.pb75{padding-bottom:7.5rem !important}
.pb70{padding-bottom:7rem !important}
.pb65{padding-bottom:6.5rem !important}
.pb60{padding-bottom:6rem !important}
.pb55{padding-bottom:5.5rem !important}
.pb50{padding-bottom:5rem !important}
.pb45{padding-bottom:4.5rem !important}
.pb40{padding-bottom:4rem !important}
.pb35{padding-bottom:3.5rem !important}
.pb30{padding-bottom:3rem !important}
.pb25{padding-bottom:2.5rem !important}
.pb20{padding-bottom:2rem !important}
.pb15{padding-bottom:1.5rem !important}
.pb10{padding-bottom:1rem !important}
.pb5{padding-bottom:0.5rem !important}
.pb0 {padding-bottom:0 !important}

.pl100{padding-left:10rem !important}
.pl95{padding-left:9.5rem !important}
.pl90{padding-left:9rem !important}
.pl85{padding-left:8.5rem !important}
.pl80{padding-left:8rem !important}
.pl75{padding-left:7.5rem !important}
.pl70{padding-left:7rem !important}
.pl65{padding-left:6.5rem !important}
.pl60{padding-left:6rem !important}
.pl55{padding-left:5.5rem !important}
.pl50{padding-left:5rem !important}
.pl45{padding-left:4.5rem !important}
.pl40{padding-left:4rem !important}
.pl35{padding-left:3.5rem !important}
.pl30{padding-left:3rem !important}
.pl25{padding-left:2.5rem !important}
.pl20{padding-left:2rem !important}
.pl18{padding-left:1.8rem !important}
.pl15{padding-left:1.5rem !important}
.pl14{padding-left:1.4rem !important}
.pl10{padding-left:1rem !important}
.pl5{padding-left:0.5rem !important}
.pl0{padding-left:0 !important}
.pd0 {padding:0 !important;}